@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
}
.app-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item {
  background-color: skyblue;
  color: white;
  width: 150%;
  height: 50px;
  margin: 4px 0;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.item.completed {
  background-color: navy;
  text-decoration: line-through;
}
.addBtn{
  width: 13%;
  height: 40px;
  border-style: none;
  font-family: 'Bebas Neue', cursive;
}
.clearBtn{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
}
.todo-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-input {
  background-color: skyblue;
  border-style: none;
  height: 40px;
}
::placeholder{
  padding-left: 5px;
  color: white;
  font-family: 'Bebas Neue', cursive;
}
.list-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.todo-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-add{
  width: 150%;
}